<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/heart.png); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Doctor</h1>
        <p class="text-white mt-0 mb-5">This page is used to enter information about each doctor in the hospital</p>
        <!--<a href="#!" class="btn btn-info">Edit profile</a>-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="offset-md-2 col-xl-8">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h2 class="mb-0">Add New Doctor</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="doctorForm" (ngSubmit)="createDoctor()">
            <h6 class="heading-small text-muted mb-4">Doctor information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">First Name</label>
                    <input type="text" id="input-username"
                    [ngClass]="{'is-invalid': doctorForm.get('firstName').errors 
                    && doctorForm.get('firstName').touched}"
                    formControlName="firstName" 
                    class="form-control form-control-alternative" placeholder="First Name">
                    <span class="invalid-feedback">First Name is required</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-lastName">Last Name</label>
                    <input type="text" id="input-lastName"
                    [ngClass]="{'is-invalid': doctorForm.get('lastName').errors 
                    && doctorForm.get('lastName').touched}"
                    formControlName="lastName" 
                     class="form-control form-control-alternative" placeholder="Last Name">
                     <span class="invalid-feedback">Last Name is required</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-gender">Gender</label>
                    <select 
                      type="text" id="input-gender"
                      [ngClass]="{'is-invalid': doctorForm.get('gender').errors 
                      && doctorForm.get('gender').touched}"
                      formControlName="gender"
                      class="form-control"  
                    >
                    <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                    </select>
                    <span class="invalid-feedback">Gender is required</span>
                    <!--<input type="text" id="input-gender"
                    [ngClass]="{'is-invalid': doctorForm.get('gender').errors 
                    && doctorForm.get('gender').touched}"
                    formControlName="gender" 
                    class="form-control form-control-alternative" placeholder="Gender">
                    <span class="invalid-feedback">Gender is required</span>-->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-education">Education</label>
                    <input type="text" id="input-education"
                    [ngClass]="{'is-invalid': doctorForm.get('education').errors 
                    && doctorForm.get('education').touched}"
                    formControlName="education" 
                    class="form-control form-control-alternative" placeholder="Education">
                    <span class="invalid-feedback">Education is required</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-designation">Designation</label>
                    <input type="text" id="input-designation" 
                    [ngClass]="{'is-invalid': doctorForm.get('designation').errors 
                    && doctorForm.get('designation').touched}"
                    formControlName="designation" 
                    class="form-control form-control-alternative" placeholder="Designation">
                    <span class="invalid-feedback">Designation is required</span>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" id="input-email" 
                    [ngClass]="{'is-invalid': doctorForm.get('email').errors 
                    && doctorForm.get('email').touched}"
                    formControlName="email" 
                    class="form-control form-control-alternative" placeholder="Email">
                    <span class="invalid-feedback">Email is required</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-phoneNumber">Phone Number</label>
                    <input type="text" id="input-phoneNumber" 
                    [ngClass]="{'is-invalid': doctorForm.get('phoneNumber').errors 
                    && doctorForm.get('phoneNumber').touched}"
                    formControlName="phoneNumber" 
                    class="form-control form-control-alternative" placeholder="Phone number">
                    <span class="invalid-feedback">Phone Number is required</span>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Technical information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-department">Department</label>
                    <select 
                      type="text" id="input-departmentId"
                      [ngClass]="{'is-invalid': doctorForm.get('departmentId').errors 
                      && doctorForm.get('departmentId').touched}"
                      class="form-control" 
                      formControlName="departmentId">
                      <option *ngFor="let dep of departments" [value]="dep.departmentId">{{dep.name}}</option>
                    </select>
                    <span class="invalid-feedback">Phone Number is required</span>
                  </div>
                </div>
              </div>
            </div>
            <button [disabled]="!doctorForm.valid" type="submit" class="btn btn-lg btn-primary pr-5 pl-5 mt-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Doctors</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Education</th>
                <th scope="col">Designation</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Department</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let doctor of doctors">        
              <tr>
                <th scope="row">
                  {{doctor.firstName}}
                </th>
                <th scope="col">
                  {{doctor.lastName}}
                </th>
                <th scope="col">
                  {{doctor.gender}}
                </th>
                <th scope="col">
                  {{doctor.education}}
                </th>
                <th scope="col">
                  {{doctor.designation}}
                </th>
                <th scope="col">
                  {{doctor.email}}
                </th>
                <th scope="col">
                  {{doctor.phoneNumber}}
                </th>
                <th scope="col">
                  {{doctor.departmentId}}
                </th>
                <td class="text-right">
                  <button class="btn btn-sm" (click)="deleteDoctor(doctor.doctorId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
