<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/heart.png); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Blood group</h1>
        <p class="text-white mt-0 mb-5">This page is used to add new Blood group</p>
        <!--<a href="#!" class="btn btn-info">Edit profile</a>-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="offset-md-2 col-xl-8">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h2 class="mb-0">Add New Blood Group</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="bloodGroupForm" (ngSubmit)="createBloodGroup()">
            <h6 class="heading-small text-muted mb-4">Blood group information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Name</label>
                    <input type="text" id="input-name"
                    [ngClass]="{'is-invalid': bloodGroupForm.get('name').errors 
                    && bloodGroupForm.get('name').touched}"
                    formControlName="name" 
                    class="form-control form-control-alternative" placeholder="First Name">
                    <span class="invalid-feedback">Name is required</span>
                  </div>
                </div>
              
              </div>
            </div>
            <button [disabled]="!bloodGroupForm.valid" type="submit" class="btn btn-lg btn-primary pr-5 pl-5 mt-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt-5 offset-md-2 col-xl-8">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Blood group</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let bloodGroup of bloodGroups">        
              <tr>
                <th scope="row">
                  {{bloodGroup.name}}
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <td class="text-right">
                  <button class="btn btn-sm" (click)="deleteBloodGroup(bloodGroup.bloodGroupId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
